**# Week 1**
# Introduction to the Course and Artificial Intelligence, Use cases of AI,Introduction to Python.
syntax of python:

 **Variable**

 *inputs

 *Datatypes

 *if-elif-else

 *mathematical operations

**loops**

**functions**

**Break**

**continue**

**pass Keyboard**

#Variable
variable = to store data in a variable

example

In [ ]:
Name = "danish"
Age = "18"

#print statement = which is basically used to print the output
print("Name" +":"+ Name ,'\n'"Age"+":" + Age)

#input = we use input to get input from the console
university = input("enter your university :")

Name:danish
Age:18
enter your university :IU

print statement =which is basically used to print the output

#Numeric Data
Datatype = there are different type of datatype and we can make cunstomise it also and make our own custom data type

**Numeric_data**

**Int** : intergers are those number which does not include decimals or any alphabet (simple basic number)

**Float** : float are those type of number which include decimal point with in

**Complex** : complex are those type of data which include both decimal point and alhpabets

In [ ]:
Datatype  = "Numeric type","text type","sequence type","Mapping type","Set type","boolean type",""

'Integers'
My_phone_number = 331111222 #not a real phone number

'FLoat'
My_Total_marks = 89.9

'complex'
My_complexnumber = 22 + 2j

#now we will all the numeric data
print("int" + ':' + str(My_phone_number)  )
print("float" + ':' +  str(My_Total_marks ))
print("complex" + ':' +  str(My_complexnumber) )
#str() function is used to convert the integer, float, and complex number values to strings so that they can be concatenated with the data type labels in the print statements.

int:331111222
float:89.9
complex:(22+2j)

#If-elif-Else

The "if-elif-else" statement is a control flow structure in many programming languages that allows you to make decisions in your code based on certain conditions.

In [ ]:
#if elif and else statements
x = 5
if x > 10:
    print("x is greater than 10")
elif x < 10:
    print("x is less than 10")
else:
    print("x is equal to 10")

x is less than 10

#Mathematic operation

**Addition +:**Adds two or more numerical values together.

**Subtraction -:** Subtracts one numerical value from another.

**Multiplication *:**  Multiplies two or more numerical values together.

**Division /:** Divides one numerical value by another. It typically returns a floating-point result.

**Floor Division //:** Divides one numerical value by another and returns the integer part of the result, discarding the decimal part.

**Modulus %:** Calculates the remainder when one numerical value is divided by another.

**Exponentiation **:** Raises a numerical value to the power of another.

In [ ]:
#mathematical operation
#Addition +:

Addition_result = 5 + 3

#Subtraction -: .
Substraction_result = 10 - 4

#Multiplication *:
Multiplication_result = 6 * 7

#Division /:
Division_result = 15 / 3

#Floor Division //:
Floor_Division_result = 15 // 2

#Modulus %:
Modulus_result = 10 % 3

#Exponentiation **:
Exponentiation_result = 2 ** 3
print("Addition_result" + ":" + str(Addition_result))
print("Substraction_result" + ":" + str(Substraction_result))
print("Multiplication_result" + ":" + str(Multiplication_result))
print("Division_result" + ":" + str(Division_result))
print("Floor_Division_result" + ":" + str(Floor_Division_result))
print("Modulus_result" + ":" + str(Modulus_result))

Addition_result:8
Substraction_result:6
Multiplication_result:42
Division_result:5.0
Floor_Division_result:7
Modulus_result:1

# Loop
**For Loop**: A for loop is used when you know beforehand how many times you want to repeat a certain block of code. It iterates over a sequence (such as a range of numbers) and executes the block of code for each iteration.

**While Loop**: A while loop is used when you want to repeat a block of code as long as a certain condition is true. It repeatedly checks the condition before each iteration and stops when the condition becomes false.

In [ ]:
print("for loop")
for i in range(1, 6):
    print(i)
print("while loop")
i = 1
while i <= 5:
    print(i)
    i += 1


#another example

fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
    print(fruit)

for loop
1
2
3
4
5
while loop
1
2
3
4
5
apple
banana
cherry
date

#commanly used Functions

In [ ]:


#Mathematical Functions:
abs(): Returns the absolute value of a number.
round(): Rounds a number to the nearest integer.
min(): Returns the minimum value from a collection.
max(): Returns the maximum value from a collection.
sum(): Calculates the sum of a collection of numbers.

#Type Conversion Functions:
int(): Converts a value to an integer.
float(): Converts a value to a floating-point number.
str(): Converts a value to a string.

#Input and Output Functions:
input(): Reads user input from the console.
print(): Writes output to the console.
open(): Opens files for reading or writing.

#List and Sequence Functions:
len(): Returns the length of a sequence (e.g., a list or string).
sorted(): Returns a sorted version of a sequence.
enumerate(): Adds index numbers to elements in an iterable.
zip(): Combines multiple iterables into tuples.

#String Functions:
str.upper(), str.lower(): Converts a string to uppercase or lowercase.
str.strip(): Removes leading and trailing whitespace.
str.split(): Splits a string into a list of substrings.

#Data Structure Functions:
list(), tuple(), set(), dict(): Create instances of these data structures.
range(): Generates a sequence of numbers.
len(): Returns the length of data structures.

#File Operations Functions:
open(): Opens files for reading or writing.
read(), readline(), readlines(): Read file contents.
write(), writelines(): Write to a file.

#Error Handling Functions:
try, except, finally: Used for exception handling.
raise: Raises an exception explicitly.

#Miscellaneous Functions:
type(): Returns the data type of an object.
id(): Returns the unique identifier for an object.
callable(): Checks if an object can be called as a function.

# BREAK
We have a list of fruits.We want to find the "cherry" in the list. The for loop iterates through each fruit in the fruits list. Inside the loop, there's an if statement that checks if the current fruit is equal to the search_item ("cherry"). If the condition is met, the break statement is executed, terminating the loop prematurely. If the loop completes without finding "cherry," the else block is executed to indicate that the item was not found.

In [ ]:

fruits = ["apple", "banana", "cherry", "date"]

search_item = "cherry"

for fruit in fruits:
    if fruit == search_item:
        print(f"{search_item} found!")
        break
else:
    print(f"{search_item} not found.")

cherry found!

#Continue

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
    if fruit == "banana":
        continue
    print(f"Processing: {fruit}")

Processing: apple
Processing: cherry
Processing: date

#Pass Keywords
 The pass statement is used as a placeholder inside the some_function function. It doesn't perform any action and is often used when you want to define a function or a code block that does nothing initially but intend to fill it in with actual code later.

 **For loop**

 Here,the pass statement is used within a loop. When i equals 2, the pass statement is executed, effectively skipping that iteration of the loop. For other values of i, it prints a message.

In [ ]:
def some_function():
    pass  # This function does nothing

for i in range(5):
    if i == 2:
        pass  # This iteration is skipped
    else:
        print(f"Processing {i}")

class MyClass:
    def my_method(self):
        pass  # This method does nothing

Processing 0
Processing 1
Processing 3
Processing 4